version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - WORKFLOW_TARGET_WORLD=@workflow/world-postgres
      - NODE_ENV=production
      - WORKFLOW_DEBUG=${WORKFLOW_DEBUG:-1}
      - WORKFLOW_POSTGRES_URL=${WORKFLOW_POSTGRES_URL:-postgresql://postgres:postgres@localhost:5432/postgres}
      - WORKFLOW_POSTGRES_JOB_PREFIX=workflow_
      - WORKFLOW_POSTGRES_WORKER_CONCURRENCY=10
    restart: unless-stopped
